@model CMS.Models.Repositories.Db.EmergencyContact

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EmergencyContact</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TitleId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TitleId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KnownAs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KnownAs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cellphone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cellphone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExpertiseId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExpertiseId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Village.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Village.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
