@model CMS.App_Start.Service

<link href="~/Content/StyleForm.css" rel="stylesheet" />
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />


@Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

<style>
    #HeadsmenId, #VillageId, #inputName, #inputSurname,
    #inputGender, #inputRace, #inputIdNum, #inputCell, #inputMail, #postalRes, #postalPostal,
    #EducationId, #WorkTypeId, #IncomeSourceId {
        border-color: #000000;
    }
</style>

@using (Html.BeginForm("ModifyService", "Service", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()


    <button type="button" class="btn btn-success float-right"><i class="fa fa-home"></i> Register Service</button>

    <div class="note mt-3 mb-3">
        <p>Service Information</p>
    </div>

            <div class="col-xl-12 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="container register-form">
                        <div class="row">
                            <div class="form-group col-md-4">
                                <label for="inputRoomNum">Reference Number</label>
                                @Html.EditorFor(model => model.ReferenceNumber, new { htmlAttributes = new { @class = "form-control", @id = "inputOcc", @required = "required", placeholder = @Html.DisplayNameFor(m => m.ReferenceNumber) } })
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAreaName">Area Name</label>
                                @Html.EditorFor(model => model.AreaName, new { htmlAttributes = new { @class = "form-control", @id = "inputOcc", @required = "required", placeholder = @Html.DisplayNameFor(m => m.AreaName) } })
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputAreaName">Description</label>
                                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @id = "inputOcc", @required = "required", placeholder = @Html.DisplayNameFor(m => m.Description) } })
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputIncome">Service Type</label>
                                @Html.DropDownList("ServiceTypeId", ViewBag.ServiceTypeId as SelectList, htmlAttributes: new { @class = "form-control", @id = "ServiceType" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputRoomNum">Village</label>
                                @Html.DropDownList("VillageId", null, htmlAttributes: new { @class = "form-control chosen-select", @id = "Village" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputRoomNum">Ward</label>
                                @Html.DropDownList("WardId", null, htmlAttributes: new { @class = "form-control chosen-select", @id = "Ward" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputRoomNum">Ward</label>
                                @Html.DropDownList("SectionId", null, htmlAttributes: new { @class = "form-control chosen-select", @id = "Section" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for=" ServiceStatus">Service Status</label>
                                @Html.DropDownList("ServiceStatusId", null, htmlAttributes: new { @class = "form-control chosen-select", @id = "ServiceStatus" })
                            </div>

                            <div class="form-group col-md-6">
                                <label for="inputEducation">Headsmen</label>
                                @Html.DropDownList("HeadsmenId", null, htmlAttributes: new { @class = "form-control chosen-select", @id = "Headsmen" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputProvince">Incident Image</label>
                                <input class="form-control text-box" type="file" name="FileBase" id="ImageFile" required />
                            </div>
                        </div>
                        


                        <div style="background-color:whitesmoke" class="mt-3 pull-right">
                            <button type="submit" id="btnSubmit" value="Create" onclick="return validateData()" class="btn btn-outline-success pull-right"><i class="fa fa-user-plus"></i> Update Services </button>
                            @Html.ActionLink(" Add ServiceFeedback", "GetServiceFeedback", "ServiceFeedback", new { @ServiceId = Model.Id }, new { @class = "btn btn-outline-secondary float-right fa fa-user" })
                            @Html.ActionLink(" View ServiceFeedback", "RegisteredServiceFeedback", "ServiceFeedback", new { @ServiceFeedbackId = Model.Id }, new { @class = "btn btn-outline-warning mr-1 float-right fa fa-eye" })
                        </div>
                    </div>
                    <br />
                </div>
            </div>
}

