@model CMS.App_Start.Municipality

<link href="~/Content/StyleForm.css" rel="stylesheet" />
<link href="~/Content/bootstrap-chosen.css" rel="stylesheet" />
<link href="~/Content/TableStyle.css" rel="stylesheet" />

@Scripts.Render("~/bundles/modernizr")

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>

@using (Html.BeginForm("ModifyMunicipality", "Municipality", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <nav class="nav nav-tabs">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active " id="nav-home-tab" data-toggle="tab" href="#nav-beneficiary" role="tab" aria-controls="nav-beneficiary" aria-selected="true">Municipality</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-agreement" role="tab" aria-controls="nav-agreement" aria-selected="false">Mayor</a>

        </div>

    </nav>
    <a  href="~/Municipality/Index" class="btn btn-success float-right"><i class="fa fa-eye"></i> View All</a>
    <div class="note mt-3 mb-3">

        <p> Add A Municipality</p>
    </div>
    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-beneficiary" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="col-xl-12 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="container register-form">
                        <div class="form-row">
                            <div class="form-group col-md-4">
                                <label for="inputName">Municipality Name</label>
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control", @id = "MunicName" } })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputLastName">Province</label>
                                @Html.DropDownList("ProvinceId", null, htmlAttributes: new { @class = "form-control" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="VillType">Country</label>
                                @Html.DropDownList("CountryId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputCell">Section</label>
                                @Html.DropDownList("SectionId", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-4">
                                <label for="inputRoomNum">Ward</label>
                                @Html.DropDownList("WardId", null, htmlAttributes: new { @class = "form-control" })
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="tab-pane fade" id="nav-agreement" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="col-xl-12 col-md-12">
                <div class="card border-left-primary shadow h-100 py-2">
                    <div class="container register-form">

                        <div class="form-row">


                            <div class="form-group col-md-4">
                                <label for="inputName">Title</label>
                                @Html.DropDownList("UserTitle", null, htmlAttributes: new { @class = "form-control", @id = "UserTitle" })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputName">Mayor Name</label>
                                @Html.EditorFor(model => model.MayorName, new { htmlAttributes = new { @class = "form-control", @id = "FirstName" } })
                            </div>

                            <div class="form-group col-md-4">
                                <label for="inputName">Mayor Last Name</label>
                                @Html.EditorFor(model => model.MayorLastName, new { htmlAttributes = new { @class = "form-control", @id = "LastName" } })
                            </div>
                        </div>
                        <br />
                        @Html.HiddenFor(model => model.Id)

                        <div style="background-color:whitesmoke" class="btn-group">
                            <button type="submit" id="btnSubmit" value="Create" onclick="return validateData()" class="btn btn-outline-success pull-right"><i class="fa fa-user-plus"></i> Add Municipality</button>
                            <button type="button" id="btnReset" class="btn btn-outline-warning pull-right"><i class="fa fa-redo"></i> Reset</button>
                        </div>
                        <button type="button" id="btnBack" class="btn btn-outline-danger float-right"><i class="fa fa-window-close"></i> Close</button>

                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>




    @section scripts{
        <script>

            $(function () {

                $("#btnSubmit").click(function () {

                    if ($("#MunicName").val() == "") {
                        swal("Add Municipality", "Error: Municipality Name Required!", "error");
                        $("#MunicName").focus();
                        return false;

                    }
                    if ($("#FirstName").val() == "") {
                        swal("Add Municipality", "Error: Mayor Name Required", "error");
                        $("#FirstName").focus();
                        return false;

                    }
                    if ($("#LastName").val() == "") {
                        swal("Add Municipality", "Error: Mayor Last Name is required!", "error");
                        $("#LastName").focus();
                        return false;

                    }

                    else {
                        swal("Add Municipality", "Municipality Successfully Added", "success");
                        return true;
                    }

                });
            });

        </script>
    }
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}









